%symbol-arrow {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAAVFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////8wXzyWAAAAHHRSTlMAARonKVNpc3yAgYaHiZOVo6epqsPa3ezu9/n+IfpupgAAAG5JREFUGNNtUNkOwCAIw2vKbncf//+fM2CMWehTUyhpAUhQ1nlE76yCDN1gRqNZMQELgqGdSkla2lPk6mLxKrBElndrs2bBMYnP3jNz4PNwus6RiIdyeDjumYgkCUbhPIdY6xBCVKGQVFt6zv+FH96ICkgNkneAAAAAAElFTkSuQmCC');
}

%symbol-cross {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHBAMAAAA2fErgAAAALVBMVEX///////////////////////////////////////////////////////////+g0jAFAAAADnRSTlMAJzB4gYSQn7TAw+fq7epinMYAAAAiSURBVAjXY2hhYF7AKG369jED485DDCz/tzIxgFkQMZAsAMOgC0MC2ptEAAAAAElFTkSuQmCC');
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
	background: $color-bg-main;

	margin:0;
	padding:0;
	text-align:center;
}

img {
	max-width: 100%;
	border: 0;
}
