

// Colors

$color-bg-main: #3c3a3d;
$color-bg-2: #312f32;

$color-txt-1: #fff;
$color-txt-2: #808080;

$color-txt-main: $color-txt-1;
$color-txt-field: #4d4d4d;

$color-alt: #ff3a13;

$color-bg-header: #fff;

$color-button: #fff;

$color-error-bg: #ffb1b1;
$color-error: $color-alt;


// Typography sizes:

$size-xxl: 28px;
$size-xl: 24px;
$size-lg: 18px;
$size-md: 14px;
$size-sm: 12px;
$size-xs: 10px;

$base-font-size: $size-md;

$weight-bold: 700;
$weight-normal: 400;


// Forms
$checkbox-md: 		15px;
$checkbox-margin: 	7px;

$form-spacing: 		7px;
$field-padding-h: 	11px;
$field-padding-v: 	11px;
$button-padding-h:	18px;
$button-padding-v:	0px;


// Grid

$max-content-width: 790px;

$bp-lg: $max-content-width / $base-font-size * 1em;
$bp-md: 40em;
$bp-sm: 25em;

$margin-h: 2rem;
$margin-v: 2rem;

$border-radius-md: 4px;
$border-radius-sm: 2px;

