
.page-header {
	background: $color-bg-header;
	padding: 10px;

}

.center-box {
	display:inline-block;
	padding: 2em $margin-h;
	margin: $margin-v auto;
	background: $color-bg-2;

	@include rem(max-width, $bp-lg);

	.hero + & {
		margin-top: 0;

		@media (min-width: $bp-md) {
			margin-top: -1.5 * $margin-v;
		} 
		
	}

	> :first-child {
		margin-top:0;
	}
	> :last-child {
		margin-bottom:0;
	}
}
