
@import "selectric";
@import "datepicker";

.field-wrapper {
	position:relative;
	display:block;
	margin-top: $form-spacing;

	&:first-of-type {
		margin-top: 0;
	}

	input,
	textarea,
	.label {
		@include rem(font-size, $size-lg);
	}


	.label {
		display: block;
		text-align: left;
	}

}



.inline-elements {
	display: inline-block;
	clear:both;


	@media (min-width: $bp-sm) {

		display:block;

		.field-wrapper {
			display: inline-block;
			margin-right: .75rem;
			margin-left: .75rem;

			&:first-of-type {
				margin-left: 0;
			} 
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}


.field-wrapper-text {

	input,
	textarea {
	  	width: 100%;
		padding: $field-padding-v $field-padding-h;
		outline: none;
		border-radius: $border-radius-md;
		border: $field-border;
		margin:0;
		color: $color-txt-field;
	}

	.label {
		position:absolute;
		top:$field-padding-v;
		left:$field-padding-h;
		transition: top .1s, font-size .1s, opacity .1s;
		color: $color-txt-field;

	}

	&.focus,
	&.has-value {
		.label {
			top:-2px;
			opacity: .5;
			@include rem(font-size, $size-xs);
		}
	}

}

.field-wrapper-textarea {
	@extend .field-wrapper-text;

	textarea {
		display:block;
		height:217px;
	}
}

.field-wrapper-select {
	select {
		width: 100%;
	}
}

.field-wrapper-radio,
.field-wrapper-checkbox {

		cursor: pointer;

		input {
			position: absolute;
			visibility: hidden;
		}

		.label {

			@include rem(padding-left, $checkbox-md + $checkbox-margin);
		}

		&:before {
			content: ' ';
			display: block;
			position: absolute;
			@include rem(top, $size-lg - $checkbox-md + 2px);
			@include rem(width, $checkbox-md);
			@include rem(height, $checkbox-md);
			font-weight: $weight-bold;
			font-size: 1em;
			@include rem(line-height, $checkbox-md - 1px);
			text-align:center;
			background-color: $color-checkbox-bg;
			background-size: 7px 7px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			border-radius: $border-radius-sm;
			overflow: hidden;

			transition: background-color .3s;
		}

		&.checked:before {
			//content: '\00d7';
			@extend %symbol-cross;
			background-color:$color-alt;
			color: $color-checkbox-txt;
		}

}


	button {
		display:block;
		width: 100%;
		@include rem(font-size, $size-lg);
		line-height: 1em;
		margin: 1.6em 0;
		padding: 19px $field-padding-h;
		border: none;
		color: $color-button;
		border-radius: $border-radius-md;
		background: $color-alt;
		text-align: center;
		font-weight: $weight-bold;

		transition: background-color .3s;
/*
		&:before {
			display:inline-block;
			//content: '\232a';
			content: '\203A';
			padding: 0;
			margin-right: 5px;
			width: 20px;
			height: 20px;
			border-radius: .6em;
			text-align: center;
			font-weight: $weight-normal;
			font-size: 1.2em;
			line-height: 15px;
			background:rgba(255,255,255,.4);

		}
*/
		&:before {
			display: inline-block;
			content: '';
			width: 18px;
			height: 18px;
			margin-right: 6px;
			overflow: hidden;
			vertical-align: top;

			@extend %symbol-arrow;
		}

		&:hover {
			background-color: $color-alt-active;
		}
	}


.input-error {
	
	input,
	textarea,
	.selectric {
		background-color: $color-error-bg;
	}

	&.field-wrapper-radio,
	&.field-wrapper-checkbox {
		&:before {
			background-color: $color-error-bg;
		}
	}

}

label.error {
	display:block;

	.field-group & {
		margin-top: $form-spacing;
	}
}


/*********************************
 *
 *	Specific field overrides
 *
 *********************************/

.field-group-child {
	@extend %clearfix;
	margin-top: $form-spacing;

	.field-wrapper {
		margin-top: 0;
		width:49%;

		&:nth-of-type(odd) {
			float:left;
			margin-right: -100%;
			clear:left;
		}
		&:nth-of-type(even) {
			float:right;
			margin-left: -100%;
			clear:right;
		}
	}
}
