

.page-header {
	h1 {
		margin:0;
		padding:0;
	}

	.header-logo {
		img {
			display:block;
		}
	}

	.header-name {
		display:none;
	}
}


.hero {
	display:block;
	overflow: hidden;

	p:only-of-type {
		margin: 0;
	}
	img {
		display:block;
		width: 100%;
	
		@media (max-width: $bp-md) {

			.csstransforms & {
				width:auto;
				max-width: none !important;
				min-height: 200px;
				margin-left:50%;
				transform: translateX(-50%);
			}	
		}
	}

}

.center-box {
	display:inline-block;
	padding: 2em $margin-h;
	margin: $margin-v auto;
	background: $color-bg-2;

	@include rem(max-width, $bp-lg);
	
	.field-wrapper {
		input,
		textarea,
		.label {
			@include rem(font-size, $size-xl);
		}
	}

	.hero + & {
		margin-top: 0;

		@media (min-width: $bp-md) {
			margin-top: -1.5 * $margin-v;
		} 
		
	}

	> :first-child {
		margin-top:0;
	}
	> :last-child {
		margin-bottom:0;
	}
}

.main-content {
	margin: 0 auto $margin-v;
	padding: 0 $margin-h;
	width: 100%;
	@include rem(max-width, $bp-lg);
	text-align:left;

}

.content-section {

	margin-top: 3em;
	@media (min-width: $bp-md) {
		margin-top: 1.6em;
	}

	> *:first-child {
		margin-top:0;
	}

	img {
		display:block;
		margin: 1.6em auto;
		max-width: 100%;

		p > &:first-child {
			margin-top:0;
		}
		p > &:last-child {
			margin-bottom:0;
		}
	}

}

.content-header {
	color: $color-txt-header;
	@include rem(font-size, $size-lg);
	line-height: 1.5em;
}

@media (min-width: $bp-md) {

	.content-header,
	.content-footer {
		clear:both;
		float:none;
		max-width: 75%;
		margin-left: auto;
		margin-right: auto;
	}

	section.content-section {
		&:not(:only-of-type) {
			&:nth-of-type(odd) {
				display:inline;
				float:left;
				width:47%;
				margin-right: -100%;
				clear:left;
			}
			&:nth-of-type(even) {
				display:inline;
				float:right;
				width:47%;
				clear:right;
			}
		}
	}
}

.page-footer {
	button,
	.button {
		padding: 20px $field-padding-h;
		border-radius: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
}