@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(http://fonts.gstatic.com/s/oxygen/v5/eAWT4YudG0otf3rlsJD6zOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(http://fonts.gstatic.com/s/oxygen/v5/yVHpdQrmTj9Kax1tmFSx2rO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

$font-stack-oxygen: 'Oxygen', helvetica, arial, sans-serif;
$font-header: $font-stack-oxygen;
$font-body: $font-stack-oxygen;


*, *:before, *:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 14px;
	font-size: $base-font-size / 16px * 1em;
	font-family: $font-body;
}

body {
	font-size: 1rem;
	line-height: 1.6em;
}


h1 {
	@include rem(font-size, $size-xl);
	font-family: $font-header;
	font-weight: $weight-bold;
	line-height: 1.4em;

	@media (min-width: $bp-md) {
		@include rem(font-size, $size-xxl);
	}
}

h2 {
	@include rem(font-size, $size-lg);
	font-family: $font-header;
	font-weight: $weight-bold;
	line-height: 1.4em;
}

h3 {
	@include rem(font-size, $size-md);
	font-family: $font-header;
	font-weight: $weight-bold;
	line-height: 1.4em;
}

h1,
h2,
h3 {
	margin: 1em 0 .6em;

	& + p {
		margin-top: 0;
	}
}

p,
ul,
ol {
	margin: 1.6em 0;
}

strong {
	font-weight: $weight-bold;
}

em {
	font-style: italic;
}

small,
.small {
	@include rem(font-size, $size-xs);
	line-height: 1.6em;
}

