

// Typography:

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(http://fonts.gstatic.com/s/oxygen/v5/eAWT4YudG0otf3rlsJD6zOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(http://fonts.gstatic.com/s/oxygen/v5/yVHpdQrmTj9Kax1tmFSx2rO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

$font-stack-oxygen: 'Oxygen', helvetica, arial, sans-serif;
$font-header: $font-stack-oxygen;
$font-body: $font-stack-oxygen;



// Colors

$color-bg-main: #3d3a3c;
$color-bg-2: #322f31;

$color-txt-1: #fff;
$color-txt-2: #9e9e9e;

$color-txt-header: $color-txt-1;
$color-txt-main: $color-txt-2;
$color-txt-field: #4d4d4d;

$color-alt: #f2614b;
$color-alt-active: #f2725e;

$color-bg-header: #fff;

$color-button: #fff;

$color-error-bg: #ffb1b1;
$color-error: $color-alt;
